*, *:before, *:after {
    box-sizing: border-box;
}

main {
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: stretch;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    gap: 10px;
    flex: 1;
}

.container:nth-child(1) {
    padding: 50px 0 0 100px;
}

.container:nth-child(2) {
    padding: 50px 0 0 0;
    flex-grow: 1;
}

button {
    width: 100%;
    padding: 10px 10px 10px;
}

input, textarea {
    width: 100%;
}

h2 {
    padding: 0;
    margin: 0 auto;
}

#answerText {
    display: flex;
    resize: none;
    flex-grow: 1;
}